<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show All Products</title>
</head>
<body>
<a href="{% url 'add_new_product' %}">Add new product +</a>
 {% for product in object_list %}
        <div>
            {{product.name}}
            <p>{{product.price}} $</p>
               {{product.show_status}}
            <a href="{% url 'update_product' product.slug %}">Update</a>
            <a href="{% url 'delete_product' product.slug %}">Delete</a>
        </div>

    {% endfor %}
</body>
</html>